<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3395e556-7de1-4ff7-b311-3f290ba45b89/resourceGroups/rg-productcatalog-prd/providers/Microsoft.Web/sites/app-productcatalog-api-prd</ResourceId>
    <ResourceGroup>rg-productcatalog-prd</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-productcatalog-api-prd-cdazf6b5bvhdath2.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>0ef7097b-3208-b6f0-6c6f-2fab99e6b8ae</ProjectGuid>
    <PublishUrl>https://app-productcatalog-api-prd-cdazf6b5bvhdath2.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName>$app-productcatalog-api-prd</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>